{% extends 'courses/layout.html' %}

{% load range %}
{% load staticfiles%}

{% block title %}
    Arts and Crafts Courses 
{% endblock %}

{% block head %}
	<script src="{% static 'courses/js/main.js' %}"></script>
{% endblock %}

{% block body %}
[ <a href="{% url 'showCart' %}">Show Cart</a> ]
	<div align="center">
		<h1>Menu</h1>
	</div>

	{% for key, value in menu.items %}
		<section class="row" name="{{ key }}">

		    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 col-lg-3">&nbsp;</div>

		    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 col-lg-6">
	   		{% regroup value.products by name as products %}
	    	<table>
				<thead>
					<tr>
						<th><h2>{{ value.name }}</h2></th>
						{% if key in 'Pasta,Salads' %}
						<th>&nbsp;</th><th>Regular</th>
						{% else %}
						<th>Small</th><th>Large</th>
						{% endif %}
					</tr>
				</thead>
	    		{% for prod in products %}
				<tr>
					<td>{{ prod.grouper }}</td>
					{% if prod.list|length == 1 %}
						<td>&nbsp;</td>
					{% endif %}
					{% for p in prod.list %}
						<td>
							<span id="{{ p.id }}" class="plusButton" type="button" data-toggle="modal" data-target="#modal-{{ key }}" data-producttype="{{ key }}" data-productid="{{ p.id }}" data-productname="{{ prod.grouper }}" data-productprice="{{ p.price }}" data-productsize="{{ p.size }}" data-productingredients="{{ p.numIngredients }}">
								<i class="fas fa-plus-square"></i>
							</span>&nbsp;{{ p.price }}
						</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>	
			</div>

			<form action="{% url 'addToCart' %}" method="post">
			{% csrf_token %}
				<input id="ptype-{{ key }}" value="{{ key }}" hidden>

			<!-- Modal -->
			<div class="modal fade" id="modal-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ key }}-Tittle" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-{{ key }}-Tittle">
								Preparing {{ value.name }} order {% if value.ingredients %}with ingredients and aditions{% endif %}
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div> <!-- modal-header -->
						<div class="modal-body">

							<!-- Selected Product INFO -->
							<div class="form-group">
								<strong>{{ value.name }}:</strong>&nbsp;
								<span id="modal-{{ key }}-ProductName">pname</span>
								&nbsp;&nbsp;

								<strong>Size:</strong>&nbsp;
								<span id="modal-{{ key }}-ProductSize">psize</span>
								<br>

								<strong>Price:</strong>&nbsp;
								<span id="modal-{{ key }}-ProductPrice" value="">pprize</span>
								&nbsp;&nbsp;

								<!-- Num of ingredients -->
								<label for="modal-{{ key }}-ProductIngredients"><strong>Ingredients:</strong>&nbsp;
								<span id="modal-{{ key }}-ProductIngredients" value="">pingredients</span>
								</label>

							    <input id="id_product" name="id_product" hidden>
							</div>

							<!-- Quantity -->
							<div class="form-group float-right">
								<label for="modal-{{ key }}-orderQuantity">Quantity</label>
								&nbsp;
								<select id="modal-{{ key }}-orderQuantity" class="quantitySelect" data-producttype="{{ key }}">
									{% for k in 1|range:11 %}
									<option value="{{ k }}">{{ k }}</option>
									{% endfor %}
								</select>

								<input id="id_productQuantity" name="id_productQuantity" hidden>								
							</div>

							<!-- Ingredients -->
							{% if value.ingredients %}
							<div class="form-group">
								<div id="modal-{{ key }}-ingredientsList" class="form-group">
									<hr class="clear">
									<strong>Select additional ingredients</strong>
									{% with numcols=0 %}
									<table>
									<tr>
									{% for i in value.ingredients %}
										{% cycle 1 2 as numcols silent %}
										<td class="ch_{{ numcols }}">
											<div class="checkbox">
												<label>
													<input type="checkbox" class="modal-{{ key }}-check" data-producttype="{{ key }}" data-extraprice="{{ i.extraprice }}" data-name="{{ i.name }}" value="{{ i.id }}" name="productIngredients" id="pi_{{i.id}}-{{ key }}">
													&nbsp;{{ i.name }} 
													{% if i.extraprice != 0 %}
													(+{{ i.extraprice }})
													{% endif %}
												</label>
											</div>
										</td>
									{% if numcols == 2 %}
									</tr>
									{% endif %}
									{% endfor %}
									{% if numcols == 1 %}
										<td>&nbsp;</td>
									</tr>
									{% endif %}
									</table>
									{% resetcycle %}
									{% endwith %}
								</div>
							</div> <!-- form-group Ingredients -->
							{% endif %}	<!-- End Ingredients -->

						</div> <!-- modal-body -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Add to my order</button>
						</div>
					</div> <!-- modal-content -->
				</div> <!-- modal-dialog -->
			</div>
			<!-- END Modal -->
			</form>

		    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3 col-lg-3">&nbsp;</div>

		</section>
	{% endfor %}
{% endblock %}