{% extends 'courses/layout.html' %}
{% load static %}
{% load range %}
{% load filter_by_user %}

{% block body %}
	<section class="row align-middle">
		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">&nbsp;</div>
		<div class="col-xs-4 col-sm-4 col-md-6 col-lg-8 col-xl-8 mb-1" align="center">
    		<h1>Course Catalog</h1>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">&nbsp;</div>
	</section>

	<section class="row">
		<div align="">
			<div class="card w18">
				<div class="card-header">
					<h6 class="card-title">Filter by categories</h6>
					{% if not categories %}
					<h4 class="card-title">No categories to filter.</h4>
					{% endif %}
				</div>
				<!-- Category List -->
				{% if categories %}
				<ul class="list-group list-group-flush">
					<li  class="list-group-item">
						<label>
							<input type="checkbox" class="display-5" id="card-link-0" name="courseCategories" 
						    data-categoryid="0" 
							value="0"
						    checked>
							{{ settings.FILTER_INITIAL_NAME }}
						</label>				
					</li>
					{% for c in categories %}
					<li  class="list-group-item">
						<label>
							<input type="checkbox" class="display-5" id="card-link-{{c.id}}" name="courseCategories" 
						    data-categoryid="{{c.id}}" 
							value="{{c.id}}"
						    checked>
							{{ c.name }}
						</label>				
					</li>
					{% endfor %}
				</ul>
				{% endif %}
				<!-- filter by filter string -->
				<div class="form-horizontal mt-2 p-2">
					<div class="form-group" align="center">
						<input id="filterString" class="form-control" type="text" value="" placeholder="Filter string">
						<button id="filterButton" class="btn btn-primary mt-2">Filter</button>
						<button id="clearButton" class="btn btn-secondary mt-2">Clear</button>
					</div>
				</div>
			</div>			
		</div>
	    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
			<div class="card-columns">
			 	{% if not catalog %}
				<div class="card w18 card-body">
					<div>
						<h5 class="card-title">No courses available so far.</h5>
				    	<p class="card-text">
				    	Please contact the site administrator.
				    	</p>
					</div>
				</div>			 	
			 	{% endif %}

				{% for c in catalog %}
				<div class="card w18 p-3" 
					 id="card-{{c.id}}"
					 data-courseid="{{c.id}}" 
				     data-categories="[{% for g in c.categories.all %}{{g.id}}{% if not forloop.last%},{% endif %}{% endfor %}]"
				     data-selector="course-entry"
				     data-content="{{c.name}} - {{c.description}}">
					<img class="card-img-top img-fluid" src="/media/{{c.image}}" alt="{{c.name}}">
					<div class="card-body">
						<h5 class="card-title">
							{{c.name}}
					    	<div><small class="text-muted">By&nbsp;{{c.provider}}</small></div>
						</h5>
			    		<div style="height: 7rem">
			    			<div>
			    				{{c.description|truncatewords_html:15 }}
			    			</div>
			    			<div class="mt-1">
					    		<!-- Rating -->
								{% if user.is_authenticated %}
								<a href="{% url 'coursereview' idcourse=c.id %}" class="text-info font-weight-bold">Rate</a>
								{% else %}
								<span class="text-info">Rating</span>
								{% endif %}

					    		{% if not c.reviews.all %}
								&nbsp;( <small>No yet rated</small> )
								{% else %}
			                    &nbsp;( <span class="text-info">{%if c.avgRating|floatformat:1 != "0.0" %}{{ c.avgRating|floatformat:1 }}{% else %}0{% endif %}  /5</span> )&nbsp;
			                    <span class="starsBox">
			                    	<span> <!-- This additonal span to avoid click-event on <i> and avoid hover css effect over <i> -->
			                    	{% for k in 0|range:c.get_avgRating_int %}
			                        <i class="fa fa-star checked"></i> 
			                        {% endfor %}
			                    	{% for k in c.get_avgRating_int|range:5 reversed %}
			                        <i class="fa fa-star"></i> 
			                        {% endfor %}
			                    	</span>
			                    </span>
								{% endif %}
								<!-- End rating -->
							</div>
			    		</div>
					</div>
					<div class="card-footer">
						{% if user.is_authenticated %}
				    	<!-- Button trigger modal -->
				    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{ c.id }}">See more and enroll</button>
				    	{% else %}
				    	<a href="{% url 'login' %}" class="text-info font-weight-bold">Login to see more an enroll</a>
			    		{% endif %}
			    	</div>
				</div>

				<!-- Cart Form -->
				<form action="{% url 'addtocart' %}" method="post">
				{% csrf_token %}

				<!-- Modal -->
				<div class="modal fade" id="modal-{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ c.id }}-Tittle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">
									{{c.name}}&nbsp;<small class="text-muted">By&nbsp;{{c.provider}}</small>
								</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div> <!-- modal-header -->
							<div class="modal-body">
								<!-- Course INFO -->
								<div class="form-group">
									<div class="card w18 card-body">
										<img class="card-img-top" src="/media/{{c.image}}" alt="{{c.name}}">
								    	<p class="mt-3">
								    		{{ c.description }}
								    	</p>
									</div>
									<div class="card-footer">
										<strong>Price:</strong>&nbsp;
										$&nbsp;<span id="modal-{{ c.id }}-coursePrice" value="{{ c.price }}">{{ c.price }}</span>
										&nbsp;&nbsp;
										{% if c.maxFreeAdds > 0 %}
										You can select <span id="modal-{{ c.id }}-courseAdds" value="{{c.maxFreeAdds}}">{{c.maxFreeAdds}}</span> of {{c.maxFreeAdds}} <span class="text-success">free</span> add(s).
										{% endif %}
									</div>
									<input id="idcourse-{{ c.id }}" name="idcourse" value="{{ c.id }}" hidden>
								</div>

								<!-- Course Adds -->
								{% if c.adds.all %}
								<div class="form-group">
									<div class="form-group">
										<strong class="mb-2">Bellow some free and charged options you can add to your order</strong>
										{% with numcols=0 %}
										<table class="addsTable">
										<tr>
										{% for a in c.adds.all %}
											{% cycle 1 2 as numcols silent %}
											<td class="ch_{{ numcols }}">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="check-{{c.id}}" data-addid="{{a.id}}" data-courseid="{{c.id}}"data-extraprice="{{ a.extraprice }}" data-name="{{ a.name }}" data-free="{{ a.free }}" value="{{ a.id }}-{{ a.extraprice }}" name="courseAdds" id="ca-{{ c.id }}-{{a.id}}">
														&nbsp;{{ a.name }}
														&nbsp;{% if a.free %}<small class="text-success">[Free]</small>{% endif %}
														{% if a.extraprice != 0 %}
														(+${{ a.extraprice }})
														{% endif %}
													</label>
												</div>
											</td>
										{% if numcols == 2 %}
										</tr>
										{% endif %}
										{% endfor %}
										{% if numcols == 1 %}
											<td>&nbsp;</td>
										</tr>
										{% endif %}
										</table>
										{% resetcycle %}
										{% endwith %}
									</div>
								</div> <!-- form-group cousre Adds -->
								{% else %}
								<h5 class="ml-2">
									<small class="text-muted">No adds to select.</small>&nbsp;
									{% if c.maxFreeAdds > 0 %}
									<small class="text-danger">Please contact support, you must be offered {{c.maxFreeAdds}} free adds.</small>
									{% endif%}
								</h5>
								{% endif %}	<!-- End course Adds -->
							</div> <!-- modal-body -->
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary">Add to my order</button>
							</div>
						</div> <!-- modal-content -->
					</div> <!-- modal-dialog -->
				</div>
				<!-- END Modal -->
				</form>					
				{% endfor %}
			</div>
	    </div>
	</section>
{% endblock %}