{% extends 'courses/layout.html' %}
{% load static %}


{% block title %}
    Arts and Crafts Courses 
{% endblock %}

{% block body %}
	<div align="center">
		<h1>Course Catalog</h1>
		<div id="Categories" class="mb-2">[Cat]</div>
	</div>
	<section class="row">
	    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-9">
			 <div class="card-columns">
			 	{% if not catalog %}
				<div class="card card-body">
					<div>
						<h5 class="card-title">No courses available so far.</h5>
				    	<p class="card-text">
				    	Please contact the site administrator.
				    	</p>
					</div>
				</div>			 	
			 	{% endif %}

				{% for c in catalog %}
				<div class="card card-body" 
					 id="card-{{c.id}}"
					 data-courseid="{{c.id}}" 
				     data-categories="[{% for g in c.categories.all %}{{g.id}}{% if not forloop.last%},{% endif %}{% endfor %}]"
				     data-selector="course-entry">
					<img class="card-img-top" src="/media/{{c.image}}" alt="{{c.name}}">
					<div class="mt-3">
						<h5 class="card-title">{{c.name}}</h5>
				    	<p class="card-text">
				    	{{c.description|truncatewords:15 }}
				    	</p>
				    	<p class="card-text">
				    		[
				    		{% for g in c.categories.all %}
				    		{{g.name}}
				    		{% if not forloop.last%}
				    		,
				    		{% endif %}
				    		{% endfor %}
				    		]
				    	</p>
				    	<p class="card-text">
				    		By&nbsp;<small class="text-muted">Provider</small>
				    	</p>
				    	<a href="#" class="btn btn-primary">Details</a>
					</div>
				</div>
				{% endfor %}
			</div>
	    </div>
	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-3">	
			<div class="Categories--" align="center">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">Filter Categories</h5>
					{% if not categories %}
					<h4 class="card-title">No categories to filter.</h4>
					{% endif %}
				</div>
				{% if categories %}
				<ul class="list-group list-group-flush">
					<li  class="list-group-item">
						<a id="card-link-0" class="card-link" href="javascript:;" 
						   data-categoryid="0" 
   						   data-categoryname="All categories" 
						   data-selector="category-entry">All categories</a>
					</li>
					{% for c in categories %}
					<li  class="list-group-item">
						<a id="card-link-{{c.id}}" class="card-link" href="javascript:;" 
						   data-categoryid="{{c.id}}" 
   						   data-categoryname="{{ c.name }}" 
						   data-selector="category-entry">{{ c.name }}</a>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>			
			</div>
		</div>

	</section>
{% endblock %}