{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Arts and Crafts Courses{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" >
        <style media="all"></style>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- Font-awesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- Last version of Javascript, jquery and Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>        
        <!-- React
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>        
        -->
        <link rel="stylesheet" href="{% static 'courses/css/main.css' %}" >
        <link rel="shortcut icon" href="{% static 'courses/favicon.ico' %}">
        <script src="{% static 'courses/js/main.js' %}"></script>
        <!--
        <script type="text/babel" src="{% static 'courses/js/mainreact.jsx' %}"></script>
        -->
<script>
    window.addEventListener("resize", getResolution);
    function getResolution() {
        var viewportWidth  = document.documentElement.clientWidth;
        document.querySelector("#MyResolution").innerHTML = `${viewportWidth}px`;
    }
</script>

    </head>
    <body>
        <header>
            <div class="MyContainer" rol="main">
                <span style="font-size: 24px color:#FFF">
                    <i class="fas fa-paint-brush fa-2x" alt="Arts"></i>
                    <i class="fas fa-theater-masks fa-2x" alt="Crafts"></i>
                </span>
                <h2>&nbsp;&nbsp;Arts and Crafts Courses&nbsp;</h2>

                {% if user.is_authenticated %}
                <div class="float-right mr-5 mt-3">
                    <a href="{% url 'showcart' %}" class="nounderline text-white"> 
                        <i class="fas fa-shopping-cart align-middle"></i> ({{ user.orders.all.count }})
                    </a>
                </div>
                {% endif %}
                
                <div class="float-right mr-5  mt-3">
                    [width:<span id="MyResolution">000</span>]
                </div>
           </div>

        </header>
        
        <div class="MyContainer">
            {% if user.is_authenticated %}
            <small>Welcome</small>&nbsp;<strong>{{user.first_name }}&nbsp;{{user.last_name }}</strong>&nbsp;
            [ <a href="{% url 'logout' %}">Logout</a> ]
            &nbsp;
            {% block extramenu %}
            [ <a href="{% url 'showcart' %}">Show Cart</a> ]
            {% endblock %}
            {% endif %}

            {% if not user.is_authenticated %}
            {% block loginmenu %}
            [ <a href="{% url 'login' %}">Login</a> ]     
            {% endblock %}
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
    
        <footer>
            <div class="MyContainer">
                <h6>CS50W Capston - Juan Gabriel Mejía - 2020</h6>
            </div>
        </footer>
    </body>
</html>
