<html>
<form method="post" action="https://pilot-payflowlink.paypal.com" target="paypal">
	<input type="hidden" name="SECURETOKEN" value="........"> 
	<input type="hidden" name="SECURETOKENID" value="........"> 
	<input type="submit" value="Proceed to Checkout"> 
</form>

<!--
Visa number - 4111 1111 1111 1111
Expiration date - 12/19
Card security code - 123


DEVELOPER BOARD >>>>>>>>>>>>
https://developer.paypal.com/

COLOMBIA	CO



PCI Data:

Credit Card Number (ACCT)
Expiration Date (EXPDATE)
CSC/CVV2 (3-4 digit number on credit card)
Driver's License Number (DL)
Social Security Number (SS)


TOKEN
https://developer.paypal.com/docs/payflow/integration-guide/secure-token/#about-the-secure-token
To obtain a secure token, pass a unique, 36-character secure token ID and set CREATESECURETOKEN=Y in a request to the Gateway server. The Gateway server associates your ID with a secure token and returns the token as a string of up to 32 alphanumeric characters.

To pass the transaction data to the hosted checkout page, you pass the secure token and secure token ID in an HTTP form post. The token and ID trigger the Gateway server to retrieve your data and display it for customer approval.


Set SECURETOKENID to a unique alphanumeric value up to 36 characters in length.
SECURETOKENID=9a9ea8208de1413abc3d60c86cb1f4c5

Set CREATESECURETOKEN to the value Y to request that Payflow gateway return a token.
CREATESECURETOKEN=Y

To use your own checkout pages while complying with PCI guidelines (sending the customer's sensitive data directly to the Gateway server), pass all parameters that you need to process the transaction except for sensitive payment details such as the credit card number, expiration date, and check number. For details on sending transactions, see Submit Credit Card Transactions.
https://developer.paypal.com/docs/payflow/integration-guide/submit-transactions/

Core Credit Card Parameters
https://developer.paypal.com/docs/payflow/integration-guide/submit-transactions/#plan-your-gateway-integration

>>> Submit Sale Transactions

**Test Transactions**
https://developer.paypal.com/docs/payflow/integration-guide/test-transactions/

For testing purposes, use https://pilot-payflowpro.paypal.com

My processor:  FDMS Nashville

Credit Card Numbers for testing
https://developer.paypal.com/docs/payflow/integration-guide/test-transactions/#processors-other-than-paypal

REsults Values for testing:
Result Values for Testing

**TRansaction REsponses***
https://developer.paypal.com/docs/payflow/integration-guide/transaction-responses/#credit-card-transaction-responses



-->

</html>