{% extends 'courses/layout.html' %}
{% load static %}
{% load range %}


{% block extramenu %}
[ <a href="{% url 'index' %}">Course catalog</a> ]
{% endblock %}

{% block body %}
    <section class="row">
    	<div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"> </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> 
        	<h2>Course review</h2>

        	<div style2="width:18rem">

			<div class="card my-3">
				<div class="card-body">
					<div class=" d-flex flex-row justify-content-between">
						<div class="pr-3">
							<img class="card-img-left" style="width: 250px" src="/media/{{course.image}}" alt="{{course.name}}"><br>
							<small class="text-muted">By {{course.provider.name}}</small>	
						</div>
						<div class="px-2">
							<h5 class="card-title">{{course.name}}</h5>
							{{course.description}}
						</div>
					</div>
		    	</div> <!-- card-body-->
		    	<div class="card-footer">
					<h6 class="text-info">Give your rate and review for this course</h6>
					<br>
		            <!-- User rating -->
		            <form action="{% url 'coursereview' %}" method="post">
		            	{% csrf_token %}
		                <input name="idcourse" value="{{ course.id }}" hidden>
		                <div class="form-group">
		                    <span>Your rating:&nbsp;&nbsp;</span>
		                    <div class="starsBox" name="getUserRating" id="getUserRating">
		                        <i class="fa fa-star" data-rating=1></i> 
		                        <i class="fa fa-star" data-rating=2></i> 
		                        <i class="fa fa-star" data-rating=3></i> 
		                        <i class="fa fa-star" data-rating=4></i> 
		                        <i class="fa fa-star" data-rating=5></i> 
		                        <input class="form-control" name="userrating" id="userrating" type="number" value="{% if userReview != None %}{{ userReview.rating}}{% else %}5{% endif %}" hidden>
		                        &nbsp;<button type="button" class="btn btn-secondary" id="clear">Clear</button>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="user_review">Write a review:</label>
		                    <textarea class="form-control" id="userreview" name="userreview" placeholder="" rows="3">{% if userReview != None and userReview.text != None %}{{ userReview.text}}{% endif %}</textarea>
		                </div>
		                <div class="form-group">
		                    <button type="submit" class="btn btn-primary" name="buttonAction" value="update">Update</button>&nbsp;&nbsp;
		                    <button type="submit" class="btn btn-danger" name="buttonAction" value="delete">Delete</button>
		                </div>
		            </form>
		            <div id="message_zone">
		                <div class="alert {{ msgType }}" role="alert">{{ msgText }}</div>
		            </div>
		    	</div>
			</div> <!-- Card -->

		    {% if courseReviews %}
	        <h2><i class="fas fa-quote-left text-info"></i>&nbsp;Other people's reviews</h2>
	        <hr>
	        <span class="ml-4 font-weight-bold text-info">#. Username (Rating/5) "Review..."</span>
	        <br><br>
	        <ol>
	        {% for review in courseReviews %}
	            <li>{{ review.user.username }}: ( {{ review.rating }}/5 ) &nbsp;
	            <span class="starsBox">
	            	<span> <!-- This additional span for avoiding click scripting -->
	            	{% for k in 0|range:review.rating %}
	                <i class="fa fa-star checked"></i>
	            	{% endfor %}
	            	{% for k in review.rating|range:5 reversed %}
	                <i class="fa fa-star"></i>
	            	{% endfor %}    
	        		</span>
	        	</span>
				&nbsp;&nbsp;<i class="fas fa-quote-left text-info"></i>&nbsp;"<small>{{review.text}}</small>"
	            </li>
	        {% endfor %}
	        </ol>
	        <br>
		    {% endif %}	

			</div>
		</div>
  		<div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"> </div>
	</section>
{% endblock %}
